.user, .pass, .signin, .title{
    display: flex;
    gap: 1vh;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    margin: auto;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    width: 50%;
    border-radius: 10px;
    

}

body{
    background-color: rgb(237, 253, 253)
}
.title{
    font-size: x-large;
}

.signin{
    background-color: #99ccff;
    border-radius: 10px;
    margin-bottom: 4vh;
    border: solid black;
    transition: ease-in-out .5s;
}

.signin:hover{
    background-color: #7ca6cf;
    transition: ease-in-out .5s;
}

.center{
    margin: auto;
    width: 50%;
    
}

.loginbox{
    border: solid rgb(190, 190, 190);
    margin-top: 25vh;
    border-radius: 10px;
    background-color: white;
    
}