.user, .pass, .signin, .title{
    display: flex;
    gap: 1vh;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    margin: auto;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    width: 50%;
    border-radius: 10px;
    

}


.title{
    font-size: x-large;
}

.signin{
    background-color: #99ccff;
    border-radius: 10px;
    margin-bottom: 4vh;
    border: solid black;
    transition: ease-in-out .5s;
}

.remember{
    justify-content: center;
    display: flex;
    margin-bottom: 4vh;
}

.signin:hover{
    background-color: #7ca6cf;
    transition: ease-in-out .5s;
}

.center{
    margin: auto;
    width: 50%;
    
}

.loginbox{
    border: solid rgb(190, 190, 190);
    margin-top: 25vh;
    border-radius: 10px;
    background-color: white;
    
}

.loading-bar {
    width: 0;
    height: 4px;
    background-color: #3498db;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.5s ease;
}

.loading-bar.show {
    width: 100%;
}

.error-message{
    color: red;
    text-align: center;
    margin-bottom: 3vh;
    display: flex;
    justify-content: center;
    
}